language: ruby
services:
  - redis-server
rvm:
  - 1.9.3
  - jruby
  - 2.0.0
  - 2.1.0
before_script:
  - mkdir -p tmp/cache
  - cp -f db/words.sample.csv db/words.csv
  - RAILS_ENV=test bundle exec rake travis:create:db
  - cp -f config/database.travis.yml config/database.yml
  - RAILS_ENV=test bundle exec rake db:migrate
script: bundle exec rspec spec
env:
  - DB_ADAPTER=mysql RAILS_ENV=test COVERALLS=yes EXCLUDE_INCONSISTENT=yes
  - DB_ADAPTER=sqlite3 RAILS_ENV=test DB_CLEANER_STRATEGY=truncation COVERALLS=yes EXCLUDE_INCONSISTENT=yes
  - DB_ADAPTER=postgresql RAILS_ENV=test COVERALLS=yes EXCLUDE_INCONSISTENT=yes
