---
http_interactions:
- request:
    method: get
    uri: http://pi.dynalias.net:3088/airtime/?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?>\n<definitions xmlns:SOAP-ENV=\"\
        http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:SOAP-ENC=\"\
        http://schemas.xmlsoap.org/soap/encoding/\" xmlns:tns=\"http://pi.dynalias.net:3088/airtime/\"\
        \ xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\
        \ xmlns=\"http://schemas.xmlsoap.org/wsdl/\" targetNamespace=\"http://pi.dynalias.net:3088/airtime/\"\
        >\n<types>\n<xsd:schema targetNamespace=\"http://pi.dynalias.net:3088/airtime/\"\
        \n>\n <xsd:import namespace=\"http://schemas.xmlsoap.org/soap/encoding/\"\
        \ />\n <xsd:import namespace=\"http://schemas.xmlsoap.org/wsdl/\" />\n <xsd:complexType\
        \ name=\"getVoucherIn\">\n  <xsd:all>\n   <xsd:element name=\"user\" type=\"\
        xsd:int\" pattern=\"[1-9][0-9]+\"/>\n   <xsd:element name=\"pass\" type=\"\
        xsd:string\" pattern=\".+\"/>\n   <xsd:element name=\"refno\" type=\"xsd:string\"\
        \ pattern=\".+\"/>\n   <xsd:element name=\"network\" type=\"xsd:string\" pattern=\"\
        (vodacom|mtn|cellc|telkom|worldchat|branson|neotel|worldcall|heita|bela|eskom)\"\
        />\n   <xsd:element name=\"sellvalue\" type=\"xsd:int\" pattern=\"[1-9][0-9]*\"\
        />\n  </xsd:all>\n </xsd:complexType>\n <xsd:complexType name=\"getVoucherOut\"\
        >\n  <xsd:all>\n   <xsd:element name=\"status\" type=\"xsd:int\" pattern=\"\
        (0|1)\"/>\n   <xsd:element name=\"message\" type=\"xsd:string\"/>\n   <xsd:element\
        \ name=\"balance\" type=\"xsd:float\"/>\n   <xsd:element name=\"pin\" type=\"\
        xsd:string\"/>\n   <xsd:element name=\"serial\" type=\"xsd:string\"/>\n  \
        \ <xsd:element name=\"costprice\" type=\"xsd:float\"/>\n  </xsd:all>\n </xsd:complexType>\n\
        \ <xsd:complexType name=\"voucher\">\n  <xsd:all>\n   <xsd:element name=\"\
        pin\" type=\"xsd:string\"/>\n   <xsd:element name=\"serial\" type=\"xsd:string\"\
        />\n   <xsd:element name=\"costprice\" type=\"xsd:float\"/>\n  </xsd:all>\n\
        \ </xsd:complexType>\n <xsd:complexType name=\"vouchers\">\n  <xsd:complexContent>\n\
        \   <xsd:restriction base=\"SOAP-ENC:Array\">\n    <xsd:attribute ref=\"SOAP-ENC:arrayType\"\
        \ wsdl:arrayType=\"tns:voucher[]\"/>\n   </xsd:restriction>\n  </xsd:complexContent>\n\
        \ </xsd:complexType>\n <xsd:complexType name=\"getVouchersIn\">\n  <xsd:all>\n\
        \   <xsd:element name=\"user\" type=\"xsd:int\" pattern=\"[1-9][0-9]+\"/>\n\
        \   <xsd:element name=\"pass\" type=\"xsd:string\" pattern=\".+\"/>\n   <xsd:element\
        \ name=\"refno\" type=\"xsd:string\" pattern=\".+\"/>\n   <xsd:element name=\"\
        network\" type=\"xsd:string\" pattern=\"(vodacom|mtn|cellc|telkom|worldchat|branson|neotel|worldcall|heita|bela|eskom)\"\
        />\n   <xsd:element name=\"sellvalue\" type=\"xsd:int\" pattern=\"[1-9][0-9]*\"\
        />\n   <xsd:element name=\"count\" type=\"xsd:int\" pattern=\"[1-9][0-9]*\"\
        />\n  </xsd:all>\n </xsd:complexType>\n <xsd:complexType name=\"getVouchersOut\"\
        >\n  <xsd:all>\n   <xsd:element name=\"status\" type=\"xsd:int\" pattern=\"\
        (0|1)\"/>\n   <xsd:element name=\"errorcode\" type=\"xsd:string\"/>\n   <xsd:element\
        \ name=\"message\" type=\"xsd:string\"/>\n   <xsd:element name=\"balance\"\
        \ type=\"xsd:float\"/>\n   <xsd:element name=\"vouchers\" type=\"tns:vouchers\"\
        />\n  </xsd:all>\n </xsd:complexType>\n</xsd:schema>\n</types>\n<message name=\"\
        getVoucherRequest\">\n  <part name=\"request\" type=\"tns:getVoucherIn\" /></message>\n\
        <message name=\"getVoucherResponse\">\n  <part name=\"reply\" type=\"tns:getVoucherOut\"\
        \ /></message>\n<message name=\"getVouchersRequest\">\n  <part name=\"request\"\
        \ type=\"tns:getVouchersIn\" /></message>\n<message name=\"getVouchersResponse\"\
        >\n  <part name=\"reply\" type=\"tns:getVouchersOut\" /></message>\n<portType\
        \ name=\"airtimePortType\">\n  <operation name=\"getVoucher\">\n    <documentation>Returns\
        \ one airtime voucher. 'user' is your user number and 'pass' is your password.\
        \ 'refno' should be a unique reference number for the request. 'network' is\
        \ the voucher network and should be one of the following: vodacom, mtn, cellc,\
        \ telkom, worldchat, branson, neotel, worldcall, heita, bela, eskom. 'sellvalue'\
        \ is the voucher sell value. 'status' will always contain the result of the\
        \ request: 1 = success, 0 = failure. 'message' is an extended status message.\
        \ 'balance' is the remaining balance after the voucher request, regardless\
        \ of whether the request succeeded or not, assuming it got that far in the\
        \ request. 'pin', 'serial' and 'costprice' refers to the issued voucher. For\
        \ sample code, please visit http://pi.dynalias.net:3088/airtime/sample.html</documentation>\n\
        \    <input message=\"tns:getVoucherRequest\"/>\n    <output message=\"tns:getVoucherResponse\"\
        />\n  </operation>\n  <operation name=\"getVouchers\">\n    <documentation>Returns\
        \ multiple airtime vouchers. 'user' is your user number and 'pass' is your\
        \ password. 'refno' should be a unique reference number for the request. 'network'\
        \ is the voucher network and should be one of the following: vodacom, mtn,\
        \ cellc, telkom, worldchat, branson, neotel, worldcall, heita, bela, eskom.\
        \ 'sellvalue' is the voucher sell value. 'status' will always contain the\
        \ result of the request: 1 = success, 0 = failure. 'message' is an extended\
        \ status message. 'balance' is the remaining balance after the voucher request,\
        \ regardless of whether the request succeeded or not, assuming it got that\
        \ far in the request. 'errorcode' is a secondary code describing e.g. why\
        \ a request failed. 'vouchers' refers to the issued vouchers. For sample code,\
        \ please visit http://pi.dynalias.net:3088/airtime/sample.html</documentation>\n\
        \    <input message=\"tns:getVouchersRequest\"/>\n    <output message=\"tns:getVouchersResponse\"\
        />\n  </operation>\n</portType>\n<binding name=\"airtimeBinding\" type=\"\
        tns:airtimePortType\">\n  <soap:binding style=\"rpc\" transport=\"http://schemas.xmlsoap.org/soap/http\"\
        />\n  <operation name=\"getVoucher\">\n    <soap:operation soapAction=\"http://pi.dynalias.net:3088/airtime/getVoucher\"\
        \ style=\"rpc\"/>\n    <input><soap:body use=\"encoded\" namespace=\"http://pi.dynalias.net:3088/airtime/\"\
        \ encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"/></input>\n\
        \    <output><soap:body use=\"encoded\" namespace=\"http://pi.dynalias.net:3088/airtime/\"\
        \ encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"/></output>\n\
        \  </operation>\n  <operation name=\"getVouchers\">\n    <soap:operation soapAction=\"\
        http://pi.dynalias.net:3088/airtime/getVouchers\" style=\"rpc\"/>\n    <input><soap:body\
        \ use=\"encoded\" namespace=\"http://pi.dynalias.net:3088/airtime/\" encodingStyle=\"\
        http://schemas.xmlsoap.org/soap/encoding/\"/></input>\n    <output><soap:body\
        \ use=\"encoded\" namespace=\"http://pi.dynalias.net:3088/airtime/\" encodingStyle=\"\
        http://schemas.xmlsoap.org/soap/encoding/\"/></output>\n  </operation>\n</binding>\n\
        <service name=\"airtime\">\n  <port name=\"airtimePort\" binding=\"tns:airtimeBinding\"\
        >\n    <soap:address location=\"http://pi.dynalias.net:3088/airtime/\"/>\n\
        \  </port>\n</service>\n</definitions>"
  recorded_at: Fri, 15 Mar 2013 15:07:33 GMT
- request:
    method: post
    uri: http://pi.dynalias.net:3088/airtime/
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://pi.dynalias.net:3088/airtime/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:getVoucher><getVoucherIn><user>3547132</user><pass>hellounb0xed</pass><refno>RW1T20130315T1707</refno><network>mtn</network><sellvalue>10</sellvalue></getVoucherIn></tns:getVoucher></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://pi.dynalias.net:3088/airtime/getVoucher"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Soap-Server:
      - NuSOAP/0.7.3 (1.114)
      Content-Type:
      - text/xml; charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="ISO-8859-1"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://pi.dynalias.net:3088/airtime/"><SOAP-ENV:Body><ns1:getVoucherResponse xmlns:ns1="http://pi.dynalias.net:3088/airtime/"><reply xsi:type="tns:getVoucherOut"><status xsi:type="xsd:int">1</status><message xsi:type="xsd:string">success</message><balance xsi:type="xsd:float">499686.73</balance><pin xsi:type="xsd:string">6990024815168042</pin><serial xsi:type="xsd:string">553460128114</serial><costprice xsi:type="xsd:float">9.05</costprice></reply></ns1:getVoucherResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Fri, 15 Mar 2013 15:07:44 GMT
- request:
    method: post
    uri: https://api.mxit.com/message/send/
    body:
      encoding: US-ASCII
      string: ! '{"From":null,"SpoolTimeout":82800,"Body":"Your airtime voucher is
        available in the $airtime vouchers$ section.","To":"m2604100","ContainsMarkup":"true"}'
    headers:
      Authorization:
      - c71219af53f5409e9d1db61db8a08248
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Bearer realm="MXit Authorization", error="invalid_request", error_description="The request has an invalid 'Authorization' header. 'Bearer' authentication is expected.",Bearer realm="MXit Authorization", error="invalid_request", error_description="The request has an invalid 'Authorization' header. 'Bearer' authentication is expected."
    body:
      encoding: US-ASCII
      string: ! '"The request has an invalid ''Authorization'' header. ''Bearer''
        authentication is expected."'
  recorded_at: Fri, 15 Mar 2013 15:07:52 GMT
recorded_with: VCR 2.4.0
