---
http_interactions:
- request:
    method: post
    uri: https://uv.uservoice.com/api/v1/tickets.json
    body:
      encoding: US-ASCII
      string: "{\"email\":\"m2604100@mxit.im\",\"name\":\" \",\"ticket\":{\"subject\"\
        :\"I have a support issue for you\",\"message\":\"I have a support issue for\
        \ you\"}}"
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - uservoice-ruby-0.0.11
      Authorization:
      - OAuth oauth_body_hash="9jkiGu3FC7KsQIGV8Tav5i1OoUg%3D", oauth_consumer_key="000000000000000000000", oauth_nonce="B8uIvTr1Z5nhAmDQRFacy8IjeWxAfQL1AzV7ZsFFNA", oauth_signature="OPlXUKi3ToeASw3pSetspDLZ0DA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364725148", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - "\"26dd57079474d0c78e7b540142444675\""
    body:
      encoding: US-ASCII
      string: "{\"ticket\":{\"id\":7364977,\"ticket_number\":304,\"subject\":\"I have\
        \ a support issue for you\",\"state\":\"open\",\"url\":\"https://uv.uservoice.com/admin/tickets/304\"\
        ,\"custom_fields\":[],\"messages\":[{\"id\":13327431,\"channel\":\"api\",\"\
        body\":\"I have a support issue for you\",\"plaintext_body\":\"I have a support\
        \ issue for you\",\"is_admin_response\":false,\"sender\":{\"id\":34520607,\"\
        name\":\"m2604100\",\"email\":\"m2604100@mxit.im\",\"title\":null,\"url\"\
        :\"http://uv.uservoice.com/users/34520607-m2604100\",\"avatar_url\":\"https://secure.gravatar.com/avatar/0a9512e6458528e89b825c613c749564?size=70\\\
        u0026amp;default=https://cdn.uservoice.com/images/admin/icons/user_70.png\"\
        ,\"karma_score\":0,\"created_at\":\"2013/03/28 13:24:24 +0000\",\"updated_at\"\
        :\"2013/03/31 10:19:00 +0000\"},\"attachments\":[],\"created_at\":\"2013/03/31\
        \ 10:19:10 +0000\",\"updated_at\":\"2013/03/31 10:19:10 +0000\"}],\"notes\"\
        :[],\"assignee\":{\"id\":29111821,\"name\":\"Unboxed Consulting\",\"email\"\
        :\"alphen@ubxd.com\",\"title\":\"Web Developer\",\"url\":\"http://uv.uservoice.com/users/29111821-unboxed-consulting\"\
        ,\"avatar_url\":\"https://secure.gravatar.com/avatar/ae6b8641b4e7ec8ab3398145cd104ab9?size=70\\\
        u0026amp;default=https://cdn.uservoice.com/images/admin/icons/user_70.png\"\
        ,\"karma_score\":4,\"created_at\":\"2012/10/10 11:19:56 +0000\",\"updated_at\"\
        :\"2013/03/30 07:38:58 +0000\"},\"created_by\":{\"id\":34520607,\"name\":\"\
        m2604100\",\"email\":\"m2604100@mxit.im\",\"title\":null,\"url\":\"http://uv.uservoice.com/users/34520607-m2604100\"\
        ,\"avatar_url\":\"https://secure.gravatar.com/avatar/0a9512e6458528e89b825c613c749564?size=70\\\
        u0026amp;default=https://cdn.uservoice.com/images/admin/icons/user_70.png\"\
        ,\"karma_score\":0,\"created_at\":\"2013/03/28 13:24:24 +0000\",\"updated_at\"\
        :\"2013/03/31 10:19:00 +0000\"},\"updated_by\":{\"id\":34520607,\"name\":\"\
        m2604100\",\"email\":\"m2604100@mxit.im\",\"title\":null,\"url\":\"http://uv.uservoice.com/users/34520607-m2604100\"\
        ,\"avatar_url\":\"https://secure.gravatar.com/avatar/0a9512e6458528e89b825c613c749564?size=70\\\
        u0026amp;default=https://cdn.uservoice.com/images/admin/icons/user_70.png\"\
        ,\"karma_score\":0,\"created_at\":\"2013/03/28 13:24:24 +0000\",\"updated_at\"\
        :\"2013/03/31 10:19:00 +0000\"},\"contact\":{\"id\":34520607,\"name\":\"m2604100\"\
        ,\"email\":\"m2604100@mxit.im\",\"title\":null,\"url\":\"http://uv.uservoice.com/users/34520607-m2604100\"\
        ,\"avatar_url\":\"https://secure.gravatar.com/avatar/0a9512e6458528e89b825c613c749564?size=70\\\
        u0026amp;default=https://cdn.uservoice.com/images/admin/icons/user_70.png\"\
        ,\"karma_score\":0,\"created_at\":\"2013/03/28 13:24:24 +0000\",\"updated_at\"\
        :\"2013/03/31 10:19:00 +0000\"},\"last_message_at\":\"2013/03/31 10:19:10\
        \ +0000\",\"created_at\":\"2013/03/31 10:19:10 +0000\",\"updated_at\":\"2013/03/31\
        \ 10:19:10 +0000\"}}"
  recorded_at: Sun, 31 Mar 2013 10:19:12 GMT
recorded_with: VCR 2.4.0
