<% cache ["payouts_v1", Winner::DAILY_PRIZE_AMOUNTS, Winner::WEEKLY_PRIZE_AMOUNTS ] do %>
<p>You cannot win twice in a row in any category</p>
<div class="row">
  <div class="span3">
    <h4>Daily Payouts</h4>
    <ol>
      <% Winner::DAILY_PRIZE_AMOUNTS.each do |amount| %>
        <%= content_tag :li, amount %>
      <% end %>
    </ol>
  </div>
  <div class="span3">
    <h4>Weekly Payouts</h4>
    <ol>
      <% Winner::WEEKLY_PRIZE_AMOUNTS.each do |amount| %>
        <%= content_tag :li, amount %>
      <% end %>
    </ol>
  </div>
</div>
<% end %>

<%= render partial: 'links' %>
