<h1>Precision Category</h1>
<p>
  This category is for those who like taking there time to guess.
  It uses the amount of guesses to took to calculate a score after
  you have played at least 10 games for daily and 35 games for weekly.
</p>

<%= render partial: 'links' %>