<h1>Precision Category</h1>
<div>
  This category is for those who like taking there time to guess.
  It uses the amount of guesses to took to calculate a score after
  you have played at least 10 games.
  <i>This will be phased out in favour of winning <%= link_to('streaks',explain_path(action: 'winning_streak'),id: 'winning_streak') %></i>
</div>

<%= render partial: 'links' %>