<h1>Rating Category</h1>
<div>
  This category is for the casual hangman player that can't play too many games a day.
  It will use the first scored games to calculate a score for you. Each game is scored
  based on the amount of guesses you use, the amount of time taken and the difficulty of the word.
  <ul>
    <li>12 first games for daily</li>
    <li>75 first games for weekly</li>
  </ul>
</div>

<%= render partial: 'links' %>