<h1>Points Category</h1>
<div>
  This category is simple category for the truely competitive.
  It is just a sum of points you receive for day/week/month for each game.
  <ul>
    <li>10 for win</li>
    <li>-3 for a lose</li>
    <li>-20 for a uncompleted game</li>
  </ul>
</div>

<%= render partial: 'links' %>