<p>We rank players on the following categories.
<b>You cannot win twice in a row in any category</b></p>
<% index = 0 %>
<ul>
  <ol><%= smart_link_to((index += 1),explain_path(action: 'rating'),id: 'rating') %> <b>rating</b></ol>
  <ol><%= smart_link_to((index += 1),explain_path(action: 'precision'),id: 'precision') %> <b>precision</b></ol>
  <ol><%= smart_link_to((index += 1),explain_path(action: 'winning_streak'),id: 'winning_streak') %> <b>streak</b></ol>
  <ol><%= smart_link_to((index += 1),explain_path(action: 'winning_random'),id: 'winning_random') %> <b>random</b></ol>
</ul>
<br/>

<% menu_item 'home', root_path, id: 'root_page' %>
<% menu_item 'payouts', explain_path(action: 'payouts'), id: 'payouts' %>
<% menu_item 'rank', user_path(current_user), id: 'view_rank' %>

