<h1>Streak Category</h1>
<div>
  This category is for the hangman player that hates losing.
  It is based on the amount of games you win in a row.
  Losing a game or not finishing a game will break your streak.
</div>

<%= render partial: 'links' %>