<h1>Wins Category</h1>
<div>
  This category is quite a simple category for the truely competitive.
  It is just a sum of all the wins you have for the day/week/month.
  <i>This will be phased out in favour of <%= link_to('points',explain_path(action: 'points'),id: 'points') %></i>
</div>

<%= render partial: 'links' %>