<b>Welcome to hangman extreme</b><br/>
Have fun guessing the word.<br/>
We have added virgin and heita vouchers to the prize section
<ul>
  <%= content_tag_for(:li, @games) do |game| %>
      <span><%= game.hangman_text %></span> -
      <span><%= game.score %></span> -
      <%= link_to('show', game, id: dom_id(game, 'show')) %>
  <% end %>
</ul>

<% menu_item 'continue', game_path(@current_game), id: 'continue_game' if @current_game %>
<% menu_item 'new game', new_game_path, id: 'new_game' unless @current_game %>
<% menu_item 'Share with your <a href="mxit://[communityportal]/RecommendPage?ItemId=7297721" type="mxit/service-navigation">friends</a>' %>
<% menu_item 'rank', user_path(current_user), id: 'view_rank' %>
<% menu_item 'profile',mxit_auth_url(state: "profile"), id: 'authorise' %>
<% menu_item 'feedback',mxit_auth_url(state: "feedback"), id: 'feedback' %>
<% menu_item 'buy clue points', purchases_path, id: 'buy_clue_points' %>
<% menu_item 'redeem prize points', redeem_winnings_path, id: 'redeem' %>

