export REDIS_URL="redis://localhost"
export FACEBOOK_KEY=""
export FACEBOOK_SECRET=""
export GA_TRACKING_CODE=""
export MXIT_APP_NAME=""
export MXIT_CLIENT_ID=""
export MXIT_CLIENT_SECRET=""
export MXIT_VENDOR_ID=""
export MXIT_MONEY_API_KEY=""
export NEW_RELIC_APP_NAME=""
export NEW_RELIC_ID=""
export NEW_RELIC_LICENSE_KEY=""
export SHINKA_AUID=""
export UV_API_KEY=""
export UV_API_SECRET=""
export UV_SUBDOMAIN_NAME=""
export AIRBRAKE_API_KEY=""
export LIBRATO_EMAIL=""
export LIBRATO_API_KEY=""
export FREEPAID_USER=""
export FREEPAID_PASS=""
