export REDIS_URL="redis://localhost"
export SIDEKIQ_REDIS_URL="redis://localhost/3"
export SIDEKIQ_USERNAME=""
export SIDEKIQ_PASSWORD=""
export SOMA_ADSPACE=""
export SOMA_PUB=""
export FACEBOOK_KEY=""
export FACEBOOK_SECRET=""
export GA_TRACKING_CODE=""
export MXIT_APP_NAME=""
export MXIT_CLIENT_ID=""
export MXIT_CLIENT_SECRET=""
export MXIT_VENDOR_ID=""
export MXIT_MONEY_API_KEY=""
export NEW_RELIC_APP_NAME=""
export NEW_RELIC_ID=""
export NEW_RELIC_LICENSE_KEY=""
export SHINKA_AUID=""
export UV_API_KEY=""
export UV_API_SECRET=""
export UV_SUBDOMAIN_NAME=""
export AIRBRAKE_API_KEY=""
export AIRBRAKE_HOST=""
export USER_ACCOUNT_API=""
export USER_ACCOUNT_API_KEY=""
export STORE_MXIT_APP_NAME=""

