<h1>Airtime Vouchers</h1>
<p>We apologize for the delay in paying out airtime vouchers</p>

<% if @airtime_vouchers.any? %>
  <ul>
    <%= content_tag_for(:li, @airtime_vouchers) do |voucher| %>
      R<%= voucher.sellvalue.to_i %> <%= voucher.network %> airtime: <%= voucher.pin.present? ? voucher.pin : "pending" %>
    <% end %>
  </ul>
<% else %>
  <p>You have not redeem prize points for any vouchers</p>
  <p>If you are waiting on vouchers, it will take up to 2 days to reflect here.</p>
<% end %>

<% menu_item 'home', root_path, id: 'root_page' %>
<% menu_item 'redeem prize points', redeem_winnings_path, id: 'redeem' %>

