<b>Feedback</b><br/>

<p>What kind of feedback do you want to give?</p>

<ul data-role="listview" data-inset="true">
  <li><%= smart_link_to '1 problems / support', new_feedback_path(:type => 'support'), id: 'support' %></li>
  <li><%= smart_link_to '2 ideas / suggestions / other', new_feedback_path(:type => 'suggestion'), id: 'suggestion' %></li>
</ul>
