<b>Feedback</b><br/>

<p>What kind of feedback do you want to give?</p>

<ul>
  <li><%= link_to '1', new_feedback_path(:type => 'support'), id: 'support' %>) problems / support</li>
  <li><%= link_to '2', new_feedback_path(:type => 'suggestion'), id: 'suggestion' %>) ideas / suggestions / other</li>
</ul>

<br/>
<% menu_item 'home', root_path, id: 'root_page' %>
